# /etc/systemd/system/libvirt-backup.timer

[Unit]
Description=libvirt backup service

[Timer]
OnCalendar=*-*-* 09:00:00
OnUnitActiveSec=2d
Persistent=true

[Install]
WantedBy=timers.target
